### 3.4 merge all data with test

In [1]:
import pandas as pd

In [2]:
label = pd.read_csv('data_format1/train_format1.csv')
label.head()

   user_id  merchant_id  label
0    34176         3906      0
1    34176          121      0
2    34176         4356      1
3    34176         2217      0
4   230784         4818      0

In [3]:
label.rename(columns = {"merchant_id":"seller_id"}, inplace=True)
label['user_id'] = label['user_id'].astype(str)
label['seller_id'] = label['seller_id'].astype(str)
label['su_id'] = label['user_id'].str.cat(label['seller_id'], sep='_')
label.head()

  user_id seller_id  label        su_id
0   34176      3906      0   34176_3906
1   34176       121      0    34176_121
2   34176      4356      1   34176_4356
3   34176      2217      0   34176_2217
4  230784      4818      0  230784_4818

In [4]:
label.to_csv('Final_data/label_edited.csv')

In [5]:
su = pd.read_csv('Final_data/su_FINAL.csv')
seller = pd.read_csv('Final_data/seller_FINAL.csv')
user = pd.read_csv('Final_data/user_FINAL.csv')

In [55]:
from sklearn.model_selection import train_test_split
y = label['label']
X = label
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    stratify=y, 
                                                    test_size=0.5)

In [56]:
X_train.shape

(130432, 4)

In [57]:
X_train = pd.merge(X_train, su, how='left', on='su_id')

In [58]:
seller['seller_id'] = seller['seller_id'].astype(str)
X_train['seller_id'] = X_train['seller_id'].astype(str)
user['user_id'] = user['user_id'].astype(str)
X_test['seller_id'] = X_test['seller_id'].astype(str)

/Users/xiaoguihua/anaconda3/envs/gabriel/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [59]:
X_train = pd.merge(X_train, seller, how='left', on='seller_id')

In [60]:
X_train = pd.merge(X_train, user, how='left', on='user_id')

In [61]:
X_test = pd.merge(X_test, su, how='left', on='su_id')
X_test = pd.merge(X_test, seller, how='left', on='seller_id')
X_test = pd.merge(X_test, user, how='left', on='user_id')

In [62]:
X_train.to_csv('Final_data/X_train.csv')
X_test.to_csv('Final_data/X_test.csv')
y_train.to_csv('Final_data/y_train.csv')
y_test.to_csv('Final_data/y_test.csv')

/Users/xiaoguihua/anaconda3/envs/gabriel/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/xiaoguihua/anaconda3/envs/gabriel/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  after removing the cwd from sys.path.